[View in Colaboratory](https://colab.research.google.com/github/rainu1729/data-analysis/blob/master/DataAnalpy.ipynb)

# **Learning Python for data analysis**

In [0]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

**Selecting data** for series

In [16]:
series_obj =  Series(np.arange(8), index=['a','b','c','d','e','f','g','h'])


print(series_obj['c'])
print(series_obj[[0,6]])

2
a    0
g    6
dtype: int64

Dataframe selections

In [25]:
np.random.seed(25)

DF_obj= DataFrame(np.random.rand(36).reshape((6,6)),index=['row 1','row 2','row 3','row 4','row 5','row 6',],
                 columns=['colm 1','colm 2','colm 3','colm 4','colm 5','colm 6',])


DF_obj

         colm 1    colm 2    colm 3    colm 4    colm 5    colm 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [33]:
#### label based indexing i.e based on row name and column name
DF_obj.loc[['row 2','row 1'],['colm 1','colm 2']]



#DF_obj.ix[['colm 2','colm 1']]

         colm 1    colm 2
row 2  0.684969  0.437611
row 1  0.870124  0.582277