<a href="https://colab.research.google.com/github/rainu1729/data-analysis/blob/master/Intel_ML_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Connect to a local runtime of the enviromnent from Google colab.

Sample Codes Pandas

In [24]:
import pandas as pd
import numpy as np
#python list
data = [2323,3434,45656,223,2354,45456,3434,3444]

#pandas series

pd_series = pd.Series(data,name='numbers')

#index starting with 0 as default
print(pd_series)

0     2323
1     3434
2    45656
3      223
4     2354
5    45456
6     3434
7     3444
Name: numbers, dtype: int64

In [25]:
#set date type as index for the series

pd_series.index = pd.date_range('20190930',periods=8)
print(pd_series)

2019-09-30     2323
2019-10-01     3434
2019-10-02    45656
2019-10-03      223
2019-10-04     2354
2019-10-05    45456
2019-10-06     3434
2019-10-07     3444
Freq: D, Name: numbers, dtype: int64

In [26]:
#select data by the index
print(pd_series['2019-10-03'])

#by the index position
print(pd_series[0])

#partial date select
print(pd_series['2019-10'])

223
2323
2019-10-01     3434
2019-10-02    45656
2019-10-03      223
2019-10-04     2354
2019-10-05    45456
2019-10-06     3434
2019-10-07     3444
Freq: D, Name: numbers, dtype: int64

In [28]:
#datatype of the series elements
pd_series.dtypes

#datatype conversion

pd_series_f = pd_series.astype(np.float)

print(pd_series_f)

2019-09-30     2323.0
2019-10-01     3434.0
2019-10-02    45656.0
2019-10-03      223.0
2019-10-04     2354.0
2019-10-05    45456.0
2019-10-06     3434.0
2019-10-07     3444.0
Freq: D, Name: numbers, dtype: float64

In [33]:
#creating a dataframe

dist = [5,6,50,0,5,None,6,6]

#tuple of the pd series and list
joined_Data = list(zip(pd_series,dist))

df_result=pd.DataFrame(joined_Data)

#add column names to the dataframe
df_result = pd.DataFrame(joined_Data,index=pd.date_range('20190930',periods=8),columns=['bike','cycling'])
print(df_result)

             bike  cycling
2019-09-30   2323      5.0
2019-10-01   3434      6.0
2019-10-02  45656     50.0
2019-10-03    223      0.0
2019-10-04   2354      5.0
2019-10-05  45456      NaN
2019-10-06   3434      6.0
2019-10-07   3444      6.0

In [34]:
#Select a row from a dataframe

print(df_result.loc['2019-09-30'])

bike       2323.0
cycling       5.0
Name: 2019-09-30 00:00:00, dtype: float64