<a href="https://colab.research.google.com/github/rainu1729/data-analysis/blob/master/WorkingwithPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import sys

In [3]:
print('python version '+sys.version)
print('pandas version '+pd.__version__)

python version 3.6.7 (default, Oct 22 2018, 11:32:17)
[GCC 8.2.0]
pandas version 0.22.0

In [0]:
#a python list with days
data_days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']

## creating a pandas series with custom index

emp_fields = ['f_name','l_name','emp_id']

emp_data = ['rainu','last',234343]

##creating using a python dict

dt_emp = {'f_name':'rainu','l_name':'last','emp_id':234343}

In [0]:
#creating a pandas series
sr_week =pd.Series(emp_Data)


sr_emp = pd.Series(index=emp_fields,data=emp_data)

#creating a series using a dict may not give the desired order
sr_emp_dt = pd.Series(dt_emp)

In [33]:
### accessing values entire values

sr_emp_dt.values


## based on index position

print('series using dict first element',sr_emp_dt[0])

print('series using list first element',sr_emp[0])


## based on index values

sr_emp_dt[['f_name','l_name']]

series using dict first element 234343
series using list first element rainu

f_name    rainu
l_name     last
dtype: object

In [0]:
##creating a dataframe from a list 
df = pd.DataFrame(emp_data)

In [47]:
##creating dataframe with a list tuple

emp_tup = list(zip(emp_fields,emp_data))

df2 = pd.DataFrame(emp_tup)

df3 = pd.DataFrame(emp_tup,columns=['field','value'])

df3

    field   value
0  f_name   rainu
1  l_name    last
2  emp_id  234343